  <table class="table">
    <tr>
      <td>
        <%= attachment_image_tag @now.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
        <%=link_to @now.user.name, user_path(@now.user) %>
      </td>
      <td><%= @now.now_body %></td>
    </tr>
    <tr>
      <% @now.replies.each do |reply| %>
      <td>
        <%= attachment_image_tag reply.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
        <%=link_to reply.user.name, user_path(reply.user) %>
      </td>
      <td><%= reply.reply %></td>
      <% end %>
    </tr>
    <tr>
      <td>
        <%= form_with(model:[@now, @reply_new], local:true) do |f| %>
        <%= f.text_field :reply %>
        <%= f.submit "send" %>
        <% end %>
      </td>
    </tr>
  </table>