<div class="container">
  <h2>Edit Profile</h2>
  <%= form_with model: @user, local:true do |f| %>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
  <%= f.attachment_field :profile_image, placeholder:"ProfileImage" %><br>
  <%= f.text_field :name, autofocus: true, placeholder:"Name" %><br>
  <%= f.text_field :introduction, autofocus: true, placeholder:"Intoduction" %>
  <%= f.submit "complete" %>
  <% end %>

</div>