<div class="container">
  <h2>Profile</h2>
    <div id="user_<%= @user.id %>">
      <div>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        <%= @user.name %>
        <% if current_user == @user %>
          <%= link_to edit_user_path(@user) do %>
            <button type="button" class="btn btn-secondary rounded-circle p-0" style="width:2rem;height:2rem;">
              <i class="fas fa-user-edit"></i>
            </button>
          <% end %>
        <% end %>
      </div>
      <div><%= @user.introduction %></div>
      <div class="follow_form">
        <% unless current_user == @user %>
          <% unless current_user.following?(@user) %>
            <%= render 'relationships/follow_btn', user: @user %>
          <% else %>
            <%= render 'relationships/unfollow_btn', user: @user %>
          <% end %>
        <% end %>
      </div>
    <div>
    <table class="table">
      <thead>
        <tr>
          <td class="follow_count">following
            <%= link_to user_follow_path(@user) do %>
              <%= @user.follower.count %>
            <% end %>
          </td>
          <td class="follower_count">follower
            <%= link_to user_unfollow_path(@user) do %>
              <%= @user.followed.count %>
            <% end %>
            </td>
        </tr>
      </thead>
    </table>
    </div>
  </div>
  <div>
    <%= render 'nows/form', now: @now %>
  </div>
</div>

<div class="container">
  <h2>Timeline</h2>
  <table class="table">
  <thead>
    <tr>
      <td>User</td>
      <td>Doing</td>
      <td>Category</td>
      <td>Place</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @nows.each do |now| %>
    <tr id="now_<%= now.id %>">
      <td>
        <%= attachment_image_tag now.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
        <%=link_to now.user.name, user_path(now.user) %>
        <%= time_ago_in_words(now.created_at) %>
      </td>
      <td><%= now.now_body %></td>
      <td><%= now.hobby_code %></td>
      <td>@ <%= now.address %></td>
      <td class="favorite_btn">
      <%= render 'favorites/favorite', now: now %>
      </td>
      <td>
        <%= render 'replies/reply', now: now %>
      </td>
      <%= render 'nows/edit_destroy', now: now %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @nows %>
</div>