<div class="container">
<h2>Profile</h2>
  <div>
    <div>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <%= @user.name %>
      <% if current_user == @user %>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-secondary rounded-circle p-0" style="width:2rem;height:2rem;">
            <i class="fas fa-user-edit"></i>
          </button>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= @user.introduction %>
      <%= render 'relationships/follow', user: @user %>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <td>following
            <%= link_to user_follow_path(@user) do %>
              <%= @user.follower.count %>
            <% end %>
          </td>
          <td>follower
            <%= link_to user_unfollow_path(@user) do %>
              <%= @user.followed.count %>
            <% end %>
            </td>
        </tr>
      </thead>
    </table>
  </div>
  <div>
    <%= render 'nows/form', now: @now %>
  </div>
</div>

<div class="container">
  <h2>Timeline</h2>
  <table class="table">
  <thead>
    <tr>
      <td>User</td>
      <td>Doing</td>
      <td>Category</td>
      <td>Place</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @nows.each do |now| %>
    <tr>
      <td>
        <%= attachment_image_tag now.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
        <%=link_to now.user.name, user_path(now.user) %>
        <%= time_ago_in_words(now.created_at) %>
      </td>
      <td><%= now.now_body %></td>
      <td><%= now.hobby_code %></td>
      <td>@ <%= now.address %></td>
        <% if now.favorited_by?(current_user) %>
      <td>
        <%= link_to now_favorites_path(now), method: :delete do %>
        <i class="fas fa-thumbs-up"></i>️<%= now.favorites.count %>
        <% end %>
      </td>
      <% else %>
      <td>
        <%= link_to now_favorites_path(now), method: :post do %>
        <i class="far fa-thumbs-up"></i>️<%= now.favorites.count %>
        <% end %>
      </td>
      <% end %>
      <td>
        <%= link_to now_reply_path(now.user.id, now.id) do %>
          <i class="far fa-comment-dots"></i>
        <% end %>
      </td>
      <% if current_user == now.user %>
       <td>
         <%= link_to edit_now_path(now.id) do %>
          <i class="fas fa-wrench"></i>
         <% end %>
       </td>
       <td>
         <%= link_to now_path(now.id), method: :delete do %>
          <i class="far fa-trash-alt"></i>
         <% end %>
       </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @nows %>
</div>