<div class="container">
    <h2>イベント詳細</h2>
    <table class="table event_detail mb-5">
      <tbody>
      <tr>
        <th>ホスト</th>
        <td><%= @event.user.name %></td>
      </tr>
      <tr>
        <th>イベント名</th>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <th>イベント内容</th>
        <td><%= @event.introduction %></td>
      </tr>
      <tr>
        <th>日時</th>
        <td><%= @event.year %>年<%= @event.month %>月<%= @event.date %>日<%= @event.time %></td>
      </tr>
      <tr>
        <th>場所</th>
        <td><%= @event.place %></td>
      </tr>
      <tr>
        <th>参加費</th>
        <td><%= @event.price %>円</td>
      </tr>
      <tr>
        <th></th>
        <td><%= link_to "参加", </td>
      </tr>      
      </tbody>
    </table>
</div>