<div class="container">
  <div class="row">
    <div class="event_form">
      <%= form_with model: @event, local: true do |f| %>
        <%= f.label "イベント名" %>
        <%= f.text_field :title %><br>
        <%= f.label "イベント内容" %>
        <%= f.text_area :introduction %><br>
        <%= f.label "開催日" %>
        <%= f.text_field :year, size: 4 %>年<%= f.text_field :month, size: 2 %>月<%= f.text_field :date, size: 2 %>日<br>
        <%= f.label "時間" %>
        <%= f.text_field :time %>
        <%= f.label "場所" %>
        <%= f.text_field :place %>
        <%= f.submit "開催" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="event_lists">
      <table class="table">
        <thead>
          <tr>
            <th>イベント</th>
            <th>内容</th>
            <th>日時</th>
            <th>場所</th>
            <th>参加</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.introduction %></td>
            <td><%= event.year %></td>
            <td><%= event.place %></td>
            <td>
              <%= link_to "参加", detail_events_path(event.id) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>