<div class="container">
  <h2>Edit Doing</h2>
    <%= form_with model: @now, local:true do |f| %>
    <%= f.text_field :now_body %><br>
    <%= f.select :hobby_code, options_for_select({ "スポーツ" => "スポーツ", "プログラミング" => "プログラミング", "ゲーム" => "ゲーム" }) %><br>
    <%= f.text_field :address %><br>
    <%= f.submit '趣meets!' %>
    <% end %>
</div>