<div class="container">
  <div class="row">
    <h2>Doing</h2>
    <div>
      <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    </div>
    <div>
      <%= render 'nows/form', now: @now_new %>
    </div>
  </div>

  <div class="gmap">
    <h2>gmap</h2>
      <input id="address" type="textbox" value="Sydney, NSW">
      <!-- buttonをクリックしたらcodeAddressを実行　-->
      <input type="button" value="Encode" onclick="codeAddress()">
      <!-- 地図情報を保存するフォーム -->
      <%= form_with url: spot_path, method: :post, local:true do |f| %>
      <!-- 検索値を隠しデータとして送信-->
      <input type="hidden" name="map[address]" id="hidden_address">
      <%= f.submit "保存" %>
      <% end %>
      <div id='map'></div>

    <script>
      /*
      mapを関数の外で定義(codeAddressでも使うため)
      geocoderを用意
      */
      let map
      let geocoder
      let marker

      function initMap() {
      // geocoderを初期化
      // 引用者注:google.maps.Geocoderインスタンスを生成
      geocoder = new google.maps.Geocoder()

      // 引用者注:google.maps.Mapインスタンスを生成することで、地図のデフォルト位置(緯度経度、ズーム)を設定
      map = new google.maps.Map(document.getElementById('map'), {
      center: {
            lat: -34.397,
            lng: 150.644
          },
          zoom: 8
        });
      }

      // 保存された地図情報からピンをさす
      <% @spots.each do |map| %>
      // google.maps.LatLngインスタンスを生成
      pos = new google.maps.LatLng(
      <%=map.latitude%>, //latitude
      <%=map.longitude%> //longitude
      );
      default_marker = new google.maps.Marker({
      map: mapInstance,
      position: pos,
      icon: {
      url: ' https://maps.google.com/mapfiles/ms/icons/green-dot.png', //アイコンのURL
      scaledSize: new google.maps.Size(40, 40) //サイズ
      }
      });
      <% end %>
      }

      function codeAddress() {
       // 入力を取得
      let inputAddress = document.getElementById('address').value;

      // geocodingしたあとmapを移動
      geocoder.geocode({
      'address': inputAddress
        }, function (results, status) {
        if (status == 'OK') {
        // map.setCenterで地図が移動
        map.setCenter(results[0].geometry.location);

        // 既存の検索マーカーを削除
        if(marker != null){
        marker.setMap(null);
        }
        marker = null;

        // var marker → markerへ変更
        marker = new google.maps.Marker({
          //map→mapInstanceに変更
          map: mapInstance,
          position: results[0].geometry.location
        });

        let title = document.getElementById('map_title');
        title.setAttribute("value", inputAddress);

        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);
        } else {
         alert('Geocode was not successful for the following reason: ' + status);
        }
      });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Timeline</h2>
      <table class="table">
        <thead>
          <tr>
            <td>User</td>
            <td>Doing</td>
            <td>Category</td>
            <td>Place</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @nows.each do |now| %>
            <tr id="now_<%= now.id %>">
              <td>
                <%= attachment_image_tag now.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
                <%=link_to now.user.name, user_path(now.user) %>
                <%= time_ago_in_words(now.created_at) %>
              </td>
              <td><%= now.now_body %></td>
              <td><%= now.hobby_code %></td>
              <td>@ <%= now.address %></td>
              <td class="favorite_btn">
                <%= render 'favorites/favorite', now: now %>
              </td>
              <td>
                <%= render 'replies/reply', now: now %>
              </td>
                <%= render 'nows/edit_destroy', now: now %>
            </tr>
           <% end %>
        </tbody>
      </table>
      <%= paginate @nows %>
      </div>
    </div>

  <div class="container mt-4">
    <h4>いいねランキング</h4>
      <div class="row mb-5">
        <div>
          <% @all_ranks.each.with_index(1) do |now, i| %>
          第<%= i %>位    <%= link_to now.user.name, user_path(now.user) %>
          ・・・<%= now.now_body %>
          いいね<%= now.favorites.count %><br>
          <% end %>
        </div>
      </div>
  </div>

